.discover-page {

    .recommended {
        width: 40%;
        gap: 0.5rem;
        margin-left: 4rem;
    }
    .recommended-snippets {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
    }
    nav ul {
        justify-content: center;
    }
}