@import url('https://fonts.googleapis.com/css2?family=Rubik');
@import url('https://fonts.googleapis.com/css2?family=Inter');


* {
	padding: 0;
	margin: 0;
}

html,
body {
	font-family: Inter, sans-serif;
	background: var(--background);
	scroll-behavior: smooth;
	display: flex;
	flex-direction: column;
}

html {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
body {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
}
.logo {
	font-family: Rubik, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--text-primary) !important;
}

p {
	color: var(--text-secondary);
}

a {
	color: var(--blue);
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		color: var(--darkBlue);
	}
}

:root {
	--background: #ffffff;
	--foreground: #eaeaea;
	--hover: #a8a8a8;
	--scroll: #8d8d8d;
	--highlight: ;
	--text-primary: #000000;
	--text-secondary: #383838;
	--text-placeholder: #a8a8a8;
	--input: #ffffff;

	--red: #e3415f;
	--green: #53b555;
	--darkGreen: #47a749;
	--blue: #4b82f3;
	--darkBlue: #1e4fff;

	--bs-primary: #000000;
	--bs-secondary: #383838;
}

.dark {
	--background: #02061a;
	--foreground: #111111;
	--hover: #797979;
	--highlight: ;
	--text-primary: #ffffff;
	--text-secondary: #b8b8b8;
	--text-placeholder: #757575;
	--input: #3b3b3b;

	--red: #ff6581;
	--green: #43a730;
	--darkGreen: #1e9620;
	--blue: #73a2ff;
	--darkBlue: #5278ff;

	--bs-primary: #ffffff;
	--bs-secondary: #b8b8b8;
}

.main {
	overflow: hidden auto;
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;

	
}

#__next {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
}

.display-snippet-link {
	text-decoration: none !important;
	color: initial !important;
	border: none !important;
	&:hover {
		color: iniital;
	}

	.display-snippet {
		transition: ease-in-out 0.3s;
		box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.1);
		background-color: var(--background);

		&:hover {
			box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
		}
	}

	.display-snippet-dark {
		transition: ease-in-out 0.1s;
		background-color: var(--background) !important;
		border: 2px #1a1a1a solid !important;

		&:hover {
			border: 2px var(--text-primary) solid !important;
		}
	}
}