@import url('https://fonts.googleapis.com/css2?family=Rubik');
@import url('https://fonts.googleapis.com/css2?family=Inter');


* {
	padding: 0;
	margin: 0;
}

html,
body {
	font-family: Inter, sans-serif;
	background: var(--background);
	scroll-behavior: smooth;
	display: flex;
	flex-direction: column;
}

html {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
body {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
}
.logo {
	font-family: Rubik, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--text-primary);
}

p {
	color: var(--text-secondary);
}

a {
	color: var(--blue);
	text-decoration: underline;

	&:hover,
	&:focus,
	&:active {
		color: var(--darkBlue);
	}
}

:root {
	--background: #ffffff;
	--foreground: #eaeaea;
	--hover: #a8a8a8;
	--highlight: ;
	--text-primary: #000000;
	--text-secondary: #383838;

	--red: #e3415f;
	--green: #53b555;
	--darkGreen: #47a749;
	--blue: #4b82f3;
	--darkBlue: #1e4fff;

	--bs-primary: #000000;
	--bs-secondary: #383838;
}

.dark {
	--background: #000000;
	--foreground: #1e1e1e;
	--hover: #474747;
	--highlight: ;
	--text-primary: #ffffff;
	--text-secondary: #b8b8b8;


	--red: #ff6581;
	--green: #79f07b;
	--darkGreen: #49be4b;
	--blue: #73a2ff;
	--darkBlue: #5278ff;

	--bs-primary: #ffffff;
	--bs-secondary: #b8b8b8;
}

main {
	overflow: hidden auto;
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
}

#__next {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
}