.home-parent {
	background-color: var(--foreground);
	height: 100%;
	padding: 4rem;
	width: 100%;

	.cm-editor {
		border-radius: 4px;
	}
	.cm-focused {
		outline: none !important;
	}

	.createsnippet {
		border-radius: 30px;
		background-color: var(--background);
		-webkit-box-shadow: 0 0 30px 1px #000;
		-moz-box-shadow: 0 0 30px 1px #000;
		box-shadow: 0 0 30px 1px #000;
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: column;
		width: 50%;
		height: 50vh;
		padding: 2rem;
		margin: auto;

		h1 {
			font-size: 2.6rem;
			font-weight: bold;
			margin-bottom: 3rem;
		}

		form {
			justify-content: flex-start;
			width: 100%;
		}

		input {
			border: 1px solid var(--bs-secondary);
			border-radius: 4px;
			padding: 0.5rem;
			width: 300px;
			margin-bottom: 1rem;
			outline: none;
			resize: none;
			transition: ease-in-out 0.2s;
		}
		input:focus{
			border: 1px solid var(--darkBlue);
		}

		button {
			margin-left: 2rem;
			border-radius: 4px;
			width: 100px;
			padding: 0.5rem;
			outline: none;
			border: none;
			cursor: pointer;
			background-color: var(--green);
			color: #fff;
		}
		button:hover {
			background-color: var(--darkGreen);
		}
		.third {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			margin-top: 2rem;
		}

		.tags {
			border-radius: 10px;
		}
	}

	@media screen and (max-width: 768px) {
		padding: 0;

		.createsnippet {
			width: 100%;
			margin: 0;
			box-shadow: none;
			border-radius: 0;
			height: 100vh;
			justify-content: initial;
			h1 {
				font-size: 2rem;
			}
			input {
				width: 100%;
			}
		}
	}
}