.dark {
    .ͼa {
        color: rgb(242, 143, 255);
      }
      .ͼb {
        color: rgb(122, 104, 245);
      }
      .ͼc {
        color: rgb(238, 131, 113);
      }
      .ͼd {
        color: rgb(212, 83, 83);
      }
      .ͼe {
        color: rgb(255, 127, 77);
      }
      .ͼf {
        color: rgb(190, 190, 255);
      }
      .ͼg {
        color: rgb(153, 54, 184);
      }
      .ͼh {
        color: rgb(6, 167, 108);
      }
      .ͼi {
        color: rgb(29, 130, 150);
      }
      .ͼj {
        color: #256;
      }
      .ͼk {
        color: rgb(61, 109, 211);
      }
      .ͼl {
        color: rgb(202, 117, 48);
      }
      .ͼm {
        color: #7a757a;
      }
      .ͼn {
        color: rgb(223, 75, 75);
      }
}