.legal {
    font-weight: 300;
    line-height: 1.5;
    margin: 1rem 9rem 5rem;
    a {
        display: flex;
        align-items: center;
    }
    .header {
        display: flex;
        &:not(.title) {
            margin: 2rem auto;
        }
        &.title {
            margin: auto;
            margin-bottom: 2rem;
        }
        vertical-align: baseline;
        max-width: fit-content;
        align-items: center;
    }
    .section-header {
        display: flex;
        margin: 2rem 0;
        vertical-align: baseline;
        max-width: fit-content;
        align-items: center;
        flex-direction: row;
    }
    h1 {
        font-size: 2rem;
        font-weight: 100;
    }
    svg {
        margin-left: 0.3rem;
    }
    .copyright {
        margin-top: 2rem;
        font-weight: 600;
    }
    ul {
        margin-left: 2rem;
        line-height: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .legal {
        margin: 1rem 2rem 5rem;
        .header {
            flex-direction: column;
            justify-content: center;

            img {
                margin: auto;
            }
        }
        h1 {
            font-size: 1.5rem;
            font-weight: 100;
        }
    }
}