.lost-parent {
  margin-top: 2rem auto 0;
  text-align: center;

  .vertical {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
  }
  .pink {
    color: var(--red);
    margin-bottom: 2rem;
    font-size: 5rem;
  }
  h2 {
    line-height: 2;
  }
  img {
    width: 40%;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .lost-parent {
    margin-top: 1rem;
    margin-bottom: 2rem;
    .pink {
      font-size: 4rem;
    }

    h2 {
      font-size: 1.2rem;
    }

    img {
      width: 80%;
    }
  }
}