/* utility classes */

.foreground {
	background-color: var(--foreground);
}

.right {
	text-align: right;
}

.badge {
	font-size: 16px;
	padding-bottom: 1rem;
	font-weight:bold;
}

.green {
	color: #53B555;
}

.pink {
	color: #E3415F;
}