.header {
	width: 100%;
	height: 3rem;
	background: var(--foreground);
}

.links {
	display: flex;
	gap: 1rem;
	list-style: none;
	font-size: 1.2rem;
}
	
.buttons {
	display: flex;
	gap: 0.5rem;
}

.button {
	border: none;
	outline: none;
	width: 2rem;
	height: 2rem;
	border-radius: 0.4rem;
	background: transparent;
	transition: background 0.4s cubic-bezier(0.45, 0.05, 0.55, 0.95);

	svg {
		color: var(--text-primary);
	}

	&:hover,
	&:focus {
		background-color: var(--hover);
	}
}

.searchbar {
	display: flex;
    align-items: center;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
	padding-right: 2rem;

	svg {
		padding: 0px 8px;
	}
	.input {
		padding: 0.2rem 5rem 0.2rem 0rem;
		font-size: 1.2rem;
		background-color: var(--foreground);
		border-style: solid;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		border: none;
	}
	.input:focus {
		outline: none;
	}
}

.menu_button {
	display: none;
}

.search_button {
	display: none;
}

.mobile {
	display: none;
	background: var(--foreground);
	flex-direction: column;
	height: fit-content;
	margin: 1rem 12.5%;
	padding: 0.5rem;
	gap: 0.5rem;
	outline: none;
	border-radius: 0.6rem;
	box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.75);
	z-index: 10;
	position: absolute;
	left: 0;
	right: 0;

	a {
		font-size: 1.2rem;
		text-align: center;
		padding: 0.5rem;
		border-radius: 0.4rem;

		&:hover {
			background-color: var(--hover);
		}
	}
}

.active {
	color: var(--text-primary);
	background: var(--hover);
}

.signin {
	margin-top: 0.1rem;
	font-size: 1rem;
	color: #fff;
	border-radius: 10px;
	border-style: var(--green);
	padding: 0.3rem 1rem;
	background-color: var(--green);
}
.signin:hover {
	background-color: var(--darkGreen);
	color: #fff;
}

.logo {
	font-size: 1.6rem;
	font-weight: 500;
}