.snippet-page {
    display: flex;
    flex-direction: column;
    min-height: 70vh;

    .header {
        display: flex;
        flex-direction: column;
        margin: 2rem 5rem 0.6rem;
        row-gap: 0.3rem;
        h1 {
            font-size: 2.6rem;
        }
        i {
            font-size: 1.1rem;
            color: var(--text-secondary);
        }
    }
    .content {
        margin: 1.5rem 5rem;
        
        .copy-button:hover {
            background-color: var(--hover);
            color: var(--text-primary);
        }
        .actions {
            margin-top: 1rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            gap: 0.5rem;

            button {
                background-color: none; 
                transition: ease-in-out 0.2s;
            }
            button:hover {
                background-color: var(--hover);
            }
            .downvote svg, .upvote svg {
                width: 1.5rem;
                height: 1.5rem;
            }
            .downvoted svg {
                fill: var(--red);
            }
            .upvoted svg {
                fill: var(--green);
            }
        }
    }
}